.slyder-arrow {
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  color: inherit;
  font-size: 16px;
  text-align: center;
  padding: 25px;
}

.no-js .slider__input-radio:focus ~ .slyder-arrow {
  display: block;
}
